body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-container {
    padding: 30px;
    margin-top: 200px;
    display: flex;
}
#form-container img {
    width: 300px
}
#login-form {
    background-color: #278ef0;
    display: flex;
    flex-direction: column;
    font-family: 'bold';
    padding: 20px;
    align-items: center;
}
#login-form input {
    margin-bottom: 25px;
    font-family: 'regular';
}
#login-form p {
    color: white;
    font-size: 25px;
}
#submit-button {
    background-color: white;
    border: none;
    padding: 5px;
    font-size: 15px;
    width: 80px;
    border-radius: 20px;
    color: black;
    box-shadow: 0 6px #67b4fc;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #d3e9fd;
}

#email {
    border-radius: 15px;
    outline: none;
    height: 20px;
    border: none;
    font-size: 100%;
    padding: 10px;
}
#password {
    border-radius: 15px;
    height: 20px;
    outline: none;
    border: none;
    font-size: 100%;
    padding: 10px;
}
#create-user-link {
    color: black;
    font-family: 'bold';
}

@media screen and (max-width: 600px) {
    #form-container {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    #form-container img {
        display: none;
    }
    #submit-button {
        width: 100px;
        height: 40px;
    }
    #submit-button:hover {
        background-color: white;
    }
}